body {
  font-family: "Helvetica Neue"
}

.center {
  text-align: center;
}

.ifttt-logo {
  max-width: 15%;
}

#title {
  text-align: center;
  font-size: 70px;  
  margin-bottom: -10px;
}

#artist {
  font-size: 50px;
}

#album {
  font-size: 36px;
  color: #808080;
}