doctype 5
html
  head
    title Now Playing
    link(rel='stylesheet', href='/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')

    block header

  body

    block content
